:root {
    --main-color: #f3f3f3;
    --secondary-color: #d8d4cf;
    --background-color: #181a1b;
    --highlight-color: #5f5137;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: calibri, monoscope;
    background-color: var(--background-color);
}

body, #contact-form, #contact-form input, #contact-form textarea, #contact-form input[type="submit"] {
    font-family: calibri, monoscope;
}
  
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(20px);
    -webkit-filter: blur(20px);
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    opacity: 0.95;
}

h1, h2, #sidebar, #sidebar #content a, .section-box a {
    color: var(--main-color);
}

label, p, #contact-form input, #contact-form textarea {
    color: var(--secondary-color);
}

#sidebar {
    position: fixed;
    width: 0;
    height: 100%;
    background-color: var(--background-color);
    overflow-x: hidden;
    transition: 0.5s;
    padding: 16px;
    color: var(--main-color);
    z-index: 999;
}

#sidebar:hover {
    width: 275px;
}

#sidebar #content {
    opacity: 0;
    transition: opacity 0.5s;
    margin-right: 20px;
    transform: translateX(-10px);
}

#sidebar:hover #content {
    opacity: 1;
}

#sidebar #content a {
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: border 0.3s;
}

#sidebar #content a i {
    margin-right: 20px;
    margin-left: 20px;
}

#sidebar #content a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    width: 110%;
    border-left: 5px solid var(--highlight-color);
}

#sidebar #arrow {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.5s;
}

#sidebar:hover #arrow {
    transform: rotate(180deg) translateY(-50%);
    right: 10px;
}

#main {
    margin-left: 300px;
    padding: 20px;
}

#intro {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-left: calc(310px + 36px);
    margin-right: 35px;
    max-height: calc(93vh - 2 * 20px);
    overflow: auto;
    border: 2px solid var(--highlight-color);
}


#brief, #contact {
    width: 45%;
}

#contact-form {
    background-color: #1b1e1f;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 600px;
}

#contact-form label {
    display: block;
    margin-bottom: 10px;
}

#contact-form input, #contact-form textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(62, 68, 70);
    background-color: #454a4d;
    box-sizing: border-box;
}

#contact-form input[type="submit"] {
    cursor: pointer;
    background-color: var(--highlight-color);
    border: none;
    width: 100%;
}

#contact-form textarea#description {
    resize: vertical;
    height: 205px;
}

.section-box {
    position: fixed;
    top: calc(50% - (93vh / 2));
    left: 50px;
    width: calc(250px - 2 * 20px);
    height: calc(93vh - 2 * 20px);
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border: 2px solid var(--highlight-color);
    transition: background-color 0.3s;
    z-index:2
}

.section-box a p:hover {
    background-color: var(--highlight-color);
}

#visualization-box {

    align-items: stretch; /* Change this line */
    width: 80%;
    height: calc(93vh - 2 * 20px);
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-left: calc(310px + 36px);
    margin-right: 35px;
    border: 2px solid var(--highlight-color);
    padding: 20px;
    overflow: auto;
}


#visualization-box h2 {
    margin-bottom: 10h;
}

.section-box a p.active {
    background-color: var(--highlight-color);
}



