body {
    margin: 0;
    padding: 0;
    font-family: courier, monoscope;
}

#sidebar {
    position: fixed;
    width: 0;
    height: 100%;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 20px;
    color: #fff;
}

    #sidebar:hover {
        width: 250px;
    }

    #sidebar #content {
        opacity: 0;
        transition: opacity 0.5s;
        margin-right: 30px;
    }

    #sidebar:hover #content {
        opacity: 1;
    }

    #sidebar #content a {
        color: #fff;
        text-decoration: none;
        display: block;
        padding: 10px 0;
        padding-left: 10px;
        transition: border 0.3s;
    }

        #sidebar #content a:hover {
            background-color: rgba(255, 255, 255, 0.1);
            border-left: 5px solid white;
        }

    #sidebar #arrow {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        transition: transform 0.5s;
    }

    #sidebar:hover #arrow {
        transform: rotate(180deg) translateY(-50%);
        right: 10px;
    }

#main {
    margin-left: 250px;
    padding: 20px;
}
